body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #6c7279;
    background-color: #ffffff;
    /* Сглаживание шрифтов*/
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0px 0px 10px;
}


/*Container
=======================*/

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/*Header
=======================*/

.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.header.fixed {
    height: auto;
    position: fixed;
    background-color: #31344e;
}

.header.fixed .header__inner {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    border-bottom: 1px solid #515369;
}


/*Header-nav
=======================*/

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    color: #ffffff;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity .1s linear;
    margin-left: 50px;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
}


/*Intro
=======================*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 100px;
    background: #31344e url("../img/intro-bg.jpg") center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    margin: 0px 0px 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 55px;
    line-height: 1.1;
    font-weight: 700;
    color: rgb(252, 252, 252);
    text-transform: uppercase;
    text-align: center;
}

.intro__subtitle {
    font-size: 22px;
    line-height: 1.5;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 60px;
}


/*Intro-button
=======================*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    transition: background-color .1s linear;
    /*если тэг button.*/
    font-family: inherit;
    border: 0;
    cursor: pointer;
}

.btn--red {
    background-color: #e84545;
}

.btn--red:hover {
    background-color: #e71d1d;
}

.btn--long {
    min-width: 280px;
}


/*Features
=======================*/

.features-items {
    display: flex;
    flex-wrap: wrap;
    margin: 95px 0;
}

.features__item {
    width: 33.333333%;
    text-align: center;
    padding: 0px 25px;
    margin: 25px 0px;
}

.features__icon {
    margin-bottom: 25px;
}

.features__title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2d3033;
    margin-bottom: 20px;
}

.features__text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}


/*Works
=======================*/

.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    position: relative;
    width: 25%;
    height: 350px;
    overflow: hidden;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    background-color: #53354a;
}

.works__item:hover .works__content {
    opacity: 1;
}

.works__photo {
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
}

.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(233, 27, 27, 0.75);
    opacity: 0;
    transition: opacity .3s linear;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.works__title {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.works__text {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
}


/*Team
=======================*/

.team {
    margin: 100px 0px 70px;
}

.team__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team__item {
    width: 25%;
    padding: 0px 15px;
    margin-bottom: 30px;
}

.team__photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.team__name {
    font-size: 22px;
    color: #2d3033;
    margin-bottom: 8px;
}

.team__prof {
    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.team__text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
    margin-bottom: 20px;
}


/*Team-social
=======================*/

.social {
    display: flex;
}

.social--footer {
    justify-content: center;
}

.social--footer .social__item {
    background-color: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;
}

.social--footer .social__item:hover {
    background-color: #fff;
}

.social--footer .social__icon {
    fill: #fff;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #d4d6d6;
    margin-right: 4px;
    transition: background-color .2s linear;
}

.social__item:hover {
    background-color: #d4d6d6;
}

.social__item:hover .social__icon {
    fill: #000;
}

.social__icon {
    display: block;
    height: 18px;
    fill: #c6cacc;
    transition: fill .2s linear;
}


/*Reviews
=======================*/

.reviews {
    overflow: hidden;
    background-color: #53354a;
}

.reviews__slider {
    height: 500px;
    overflow: hidden;
}

.reviews__slider.slick-initialized {
    height: auto;
}

.reviews__item {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;
    background-color: #3a3e64;
}

.reviews__img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.reviews__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
}

.reviews__text {
    font-family: 'Cardo', sans-serif;
    font-size: 36px;
    font-style: italic;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 25px;
}

.reviews__author {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.slick-dots {
    display: flex;
    justify-content: center;
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    margin: 0;
    padding: 0 0 30px;
    list-style: none;
}

.slick-dots li {
    margin: 0 5px;
}

.slick-dots button {
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    border: 0;
    padding: 0;
    font-size: 0;
    color: transparent;
    opacity: 0.5;
    cursor: pointer;
}

.slick-dots button:focus {
    outline: none;
}

.slick-dots .slick-active button {
    opacity: 1;
}


/*Download
=======================*/

.download {
    margin: 90px 0;
    text-align: center;
}

.download__title {
    font-size: 28px;
    font-weight: 300;
    color: #2d3033;
    margin-bottom: 10px;
}

.download__text {
    font-size: 13px;
    font-weight: 700;
    color: #2d3033;
    text-transform: uppercase;
    margin-bottom: 30px;
}


/*Footer
=======================*/

.footer {
    background-color: #3a3e64;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
}

.footer__block {
    width: 33.33333%;
    text-align: center;
    padding: 0 15px;
}

.footer__title {
    font-size: 14px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer__address {
    font-size: 14px;
    line-height: 1.5;
    font-style: normal;
    color: rgba(255, 255, 255, 0.5);
}

.footer__text {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.5);
}


/*Footer-copyright
=======================*/

.copyright {
    background-color: #313454;
    padding: 20px 0;
}

.copyright__text {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: #808080;
}

.copyright__text span {
    color: #fff;
}

.icon-heart img {
    position: relative;
    top: 1px;
}


/*Burger
=======================*/

.burger {
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 9px 2px;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    font-size: 0;
    color: transparent;
    position: relative;
}

.burger__item::before,
.burger__item::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
}

.burger__item::before {
    bottom: -8px;
}

.burger__item::after {
    top: -8px;
}


/*Media
=======================*/

@media (max-width: 1300px) {
    /*works*/
    .works__item {
        width: 50%;
    }
}

@media (max-width: 991px) {
    /*nav*/
    .nav {
        display: none;
        flex-direction: column;
        background-color: #31344e;
        width: 100%;
        text-align: right;
        position: absolute;
        right: 0;
        top: 100%;
    }
    .nav.show {
        display: flex;
    }
    .nav__link {
        padding: 9px 15px;
    }
    /*burger*/
    .burger {
        display: block;
    }
    /*intro*/
    .intro__title {
        font-size: 40px;
    }
    /*features*/
    .features__item {
        width: 50%;
    }
    /*team*/
    .team__item {
        width: 50%;
        text-align: center;
    }
    .team__photo {
        margin-left: auto;
        margin-right: auto;
    }
    /*social*/
    .social {
        justify-content: center;
    }
    /*reviews*/
    .reviews__photo {
        width: 100%;
        overflow: hidden;
        margin: 15px 0 40px;
    }
    .reviews__content {
        width: 100%;
        padding-left: 0;
        padding-bottom: 40px;
    }
}

@media (max-width: 767px) {
    /*intro*/
    .intro {
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }
    .intro__title {
        font-size: 30px;
    }
    .intro__subtitle {
        font-size: 16px;
        margin-bottom: 30px;
    }
    /*features*/
    .features-items {
        margin: 40px 0;
    }
    .features__item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    /*works*/
    .works__item {
        width: 100%;
        height: 300px;
    }
    /*team*/
    .team {
        margin: 60px 0 30px;
    }
    .team__item {
        width: 100%;
        text-align: center;
    }
    /*reviews*/
    .reviews__text {
        font-size: 25px;
    }
    /*btn*/
    .btn--long {
        min-width: 240px;
    }
    /*download*/
    .download {
        margin: 50px 0;
    }
    .download__title {
        font-size: 24px;
    }
    /*footer*/
    .footer__inner {
        padding: 30px 0;
    }
    .footer__block {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 30px;
    }
    .footer__block:last-child {
        margin-bottom: 0;
    }
}

@media(max-width: 414px) {
    /*reviews*/
    .reviews__img {
        right: -100px;
    }
}

@media(max-width: 320px) {
    .btn--long {
        padding: 10px 0px;
        min-width: 200px;
    }
}